<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Fragments</title>
</head>
<body>

<div th:fragment="head_fragment(title)">
    <meta charset="UTF-8"/>
    <title th:text="'University CMS - ' + ${title}">Title...</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</div>

<div th:fragment="bootstrap_scripts">
    <script src="/webjars/jquery/3.6.3/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</div>

<div th:fragment="persons_list(persons, person_link)">
    <div class="card mb-4">
        <div class="list-group" id="persons-list">
            <a th:each="person : ${persons}" th:href="${person_link} + '=' + ${person.id}"
               th:text="${person.name}"
               class="list-group-item list-group-item-action">Person...</a>
        </div>
    </div>
</div>

<nav th:fragment="nav_bar" class="rounded-2 navbar navbar-expand-lg bg-dark bg-gradient text-white">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="text-white nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="text-white nav-link" href="/students">Students</a>
                </li>
                <li class="nav-item">
                    <a class="text-white nav-link" href="/teachers">Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="text-white nav-link" href="/groups">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="text-white nav-link" href="/subjects">Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="text-white nav-link" href="/lectures/all?days=0">Lectures</a>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center">
            <div sec:authentication="name"></div>
        </div>
        <a th:href="@{/logout}" class="btn btn-secondary bg-gradient mx-3">
            Sing out</a>
    </div>
</nav>

<div th:fragment="nav_menu(page)">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-4 px-3 py-2 mt-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li th:text="${page}" class="breadcrumb-item active fw-bold" aria-current="page">...</li>
                </ol>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Right</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div th:fragment="nav_profile_menu(page, prev_page, link)">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-4 px-3 py-2 mt-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a th:text="${prev_page}" th:href="${link}"></a></li>
                    <li th:text="${page}" class="breadcrumb-item active fw-bold" aria-current="page">...</li>
                </ol>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Right</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</div>

<div th:fragment="profile_row(name, value)">
    <div class="row">
        <div class="col-sm-3">
            <p th:text="${name}" class="mb-0">Name</p>
        </div>
        <div class="col-sm-9">
            <p th:text="${value}" class="text-muted mb-0" id="value">Value</p>
        </div>
    </div>
    <hr/>
</div>

<div th:fragment="error_page(code, code_text, description)" class="container-fluid">
    <div class="container">
        <div class="row justify-content-start">
            <div>
                <div class="starsec"></div>
                <div class="starthird"></div>
                <div class="starfourth"></div>
                <div class="starfifth"></div>
            </div>
            <div class="lamp__wrap">
                <div class="lamp">
                    <div class="cable"></div>
                    <div class="cover"></div>
                    <div class="in-cover">
                        <div class="bulb"></div>
                    </div>
                    <div class="light"></div>
                </div>
            </div>
            <section class="error">
                <div class="error__content">
                    <div class="error__message message">
                        <h1 th:text="${code}" class="message__title">code</h1>
                        <h1 th:text="${code_text}" class="message__title">code_text</h1>
                        <p th:text="${description}" class="message__text">...</p>
                    </div>
                    <div class="error__nav e-nav">
                        <a href="/" class="e-nav__link"></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div th:fragment="schedule_filter(id, link, days)">
    <ul class="nav custom-tab" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${days == 0 ? 'active show' : ''}" id="home-taThursday"
               data-toggle="tab" th:href="@{${link}(id=${id}, days = 0)}" role="tab" aria-controls="home"
               aria-selected="true">1 Day</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${days == 7 ? 'active show' : ''}" id="profile-tab" data-toggle="tab"
               th:href="@{${link}(id=${id}, days = 7)}" role="tab" aria-controls="profile" aria-selected="false">7
                Days</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${days == 30 ? 'active show' : ''}" id="contact-tab" data-toggle="tab"
               th:href="@{${link}(id=${id}, days = 30)}" role="tab" aria-controls="contact" aria-selected="false">30
                Days</a>
        </li>
    </ul>
</div>

<div th:fragment="all_schedule_filter(link, days)">
    <ul class="nav custom-tab" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${days == 0 ? 'active show' : ''}" id="home-taThursday"
               data-toggle="tab" th:href="@{${link}(days = 0)}" role="tab" aria-controls="home"
               aria-selected="true">1 Day</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${days == 7 ? 'active show' : ''}" id="profile-tab" data-toggle="tab"
               th:href="@{${link}(days = 7)}" role="tab" aria-controls="profile" aria-selected="false">7
                Days</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${days == 30 ? 'active show' : ''}" id="contact-tab" data-toggle="tab"
               th:href="@{${link}(days = 30)}" role="tab" aria-controls="contact" aria-selected="false">30
                Days</a>
        </li>
    </ul>
</div>


</body>
</html>